body {
    background: "../assets/images/loginbackground.jpg";
    max-width: 550px;
    margin:0 auto; /* centering */
}

h1 {
    background-color: #003366;
    color:#d4af37;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
  }

a {
    text-decoration: none;
    color:#d4af37;
}

a:hover {
    text-decoration: underline;
}

div.teamphoto {
    margin:0;
    padding-bottom:2em;
    padding-right:2em;
    overflow: auto
}

nav ul, footer ul {
    background-color: #003366;
    color:#d4af37;
    font-size: 0.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}

nav ul li, footer ul li {
    color:#d4af37;
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.25em;
}

div.content {
    background-color: #003366;
    margin: 10px auto 20px;
}

div.left {
    float:left;
    width:150px;
    margin:0;
    padding-bottom:2em;
    padding-right:1em;
    overflow: auto
}

div.right {
    margin-left:150px;
    padding-left:1em;
    padding-top:1px;
    padding-bottom:2em;
}
